<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lieyukou.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null, "marina", "456",23,'f',"153456@qq.com")
    </insert>
<!--    int insertUser2(User user);-->
    <insert id="insertUser2">
        insert into t_user values(#{id},#{username},#{password},#{age},#{sex},#{email})
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
    update t_user set username = '张三' where id = 4
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 5
    </delete>

    <!--User getUserById();-->
    <!--
        查询功能的标签必须设置resultType或者resultMap
        resultType：设置默认的映射关系
        resultMap：设置自定义的映射关系（字段名和表头不一样）
    -->
    <select id="getUserById32" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user where id = 3
    </select>
<!--    <select id="getAllUser" resultType="com.lieyukou.mybatis.pojo.User"></select>-->

    <!--    &lt;!&ndash;List<User> getAllUser();&ndash;&gt;-->
    <select id="getAllUser" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user
    </select>
    <select id="getUserByUsername" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user where username = '${username}'
    </select>
    <select id="checkLogin" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user where username = #{arg0} and password = #{arg1}
    </select>
    <select id="checkLoginByMap" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user where username = #{username} and password = #{password}
    </select>
    <select id="checkLoginByParam" resultType="com.lieyukou.mybatis.pojo.User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

</mapper>
