<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>

    </settings>
    <plugins>
        <!--设置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--    <typeAliases>-->
<!--        <typeAlias type="com.lieyukou.mybatis.pojo.User" ></typeAlias>-->
<!--    </typeAliases>-->
<!--    <typeAliases>-->
<!--        <package name=""/>-->
<!--    </typeAliases>-->
    <!--设置连接数据库的环境--> <environments default="development">


    <environment id="development">

        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="${jdbc.driver}"/>
            <property name="url" value="${jdbc.url}"/>
            <!--注意：如果在建sql表单的时候选了字符集（如utf8），
            这里的value要改成：value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8"-->
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
        </dataSource>
    </environment>
</environments>

    <!--引入映射文件--> <mappers>
    <mapper resource="mappers/UserMapper.xml"/>
    <mapper resource="mappers/SelectMapper.xml"></mapper>
    <mapper resource="mappers/SQLMapper.xml"></mapper>
    <mapper resource="mappers/DeptMapper.xml"></mapper>
    <mapper resource="mappers/EmpMapper.xml"></mapper>
    <mapper resource="mappers/DynamicSQLMapper.xml"></mapper>
    <mapper resource="mappers/CacheMapper.xml"></mapper>
<!--    <package name="com.lieyukou.mybatis.mapper"/>-->
</mappers>
</configuration>
